<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button> -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">THÊM QUYỀN HẠNG </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form onsubmit="return vladdphanquyen()" name="vladdpq" method="POST" action="/admin/phanquyen">
					<div class="form-group col-lg-12" style="color: red;" id="erroraddpq"></div>
					<div class="form-group">
						<label for="recipient-name" class="col-form-label">TÊN QUYỀN HẠNG :</label>
						<input type="text" required name="quyenhang" class="form-control" id="recipient-name">
					</div>				
					<div class="form-group">
						<label for="message-text" class="col-form-label">TRẠNG THÁI:</label>
						<select   name="trangthai" class="form-control" >
                           
							<option value="1">ĐƯỢC KÍCH HOẠT</option>
							<option value="0">KHÔNG SỬ DỤNG</option>							
						  </select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">THOÁT</button>
						
						<input type="submit" class="btn btn-primary" value="THÊM">
					</div>			
				</form>
			</div>
			
		</div>
	</div>
</div>
<script>
	function vladdphanquyen() { 
		let tenkhachhang = document.forms["vladdpq"]["quyenhang"].value;
		if (tenkhachhang === '' || tenkhachhang == null || tenkhachhang.length < 2) {
			document.getElementById("erroraddpq").innerHTML = " Xin điền tên hợp lệ !!!";
			return false;
		}
							  
	}
</script>