--
-- PostgreSQL database dump
--

-- Dumped from database version 11.5
-- Dumped by pg_dump version 11.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_with_oids = false;

--
-- Name: SequelizeMeta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SequelizeMeta" (
    name character varying(255) NOT NULL
);


ALTER TABLE public."SequelizeMeta" OWNER TO postgres;

--
-- Name: baiviets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.baiviets (
    id integer NOT NULL,
    tieude text,
    noidung text,
    hinhanh character varying(255),
    id_taikhoan integer,
    id_chuyenmuc integer,
    trangthai integer,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.baiviets OWNER TO postgres;

--
-- Name: baiviets_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.baiviets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.baiviets_id_seq OWNER TO postgres;

--
-- Name: baiviets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.baiviets_id_seq OWNED BY public.baiviets.id;


--
-- Name: chuyenmucs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chuyenmucs (
    id integer NOT NULL,
    tenchuyenmuc character varying(255),
    trangthai integer,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.chuyenmucs OWNER TO postgres;

--
-- Name: chuyenmucs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.chuyenmucs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chuyenmucs_id_seq OWNER TO postgres;

--
-- Name: chuyenmucs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.chuyenmucs_id_seq OWNED BY public.chuyenmucs.id;


--
-- Name: dangkies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dangkies (
    id integer NOT NULL,
    tenkhachhang character varying(255),
    sdt real,
    diachi character varying(255),
    email character varying(255),
    id_lophoc integer,
    thanhtoan integer,
    trangthai integer,
    "createdAt" timestamp with time zone,
    "updatedAt" timestamp with time zone,
    diem integer,
    gioitinh character varying(255)
);


ALTER TABLE public.dangkies OWNER TO postgres;

--
-- Name: dangkies_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dangkies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dangkies_id_seq OWNER TO postgres;

--
-- Name: dangkies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dangkies_id_seq OWNED BY public.dangkies.id;


--
-- Name: diendans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.diendans (
    id integer NOT NULL,
    tieude text,
    trangthai integer,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    id_khoahoc integer,
    noidung text,
    id_taikhoan integer
);


ALTER TABLE public.diendans OWNER TO postgres;

--
-- Name: diendans_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.diendans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.diendans_id_seq OWNER TO postgres;

--
-- Name: diendans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.diendans_id_seq OWNED BY public.diendans.id;


--
-- Name: giangviens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.giangviens (
    id integer NOT NULL,
    hoten character varying(255),
    sdt integer,
    diachi character varying(255),
    email character varying(255),
    gioitinh character varying(255),
    linhvuc text,
    trangthai integer,
    id_tk integer,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    hinhanh character varying(255)
);


ALTER TABLE public.giangviens OWNER TO postgres;

--
-- Name: giangviens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.giangviens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.giangviens_id_seq OWNER TO postgres;

--
-- Name: giangviens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.giangviens_id_seq OWNED BY public.giangviens.id;


--
-- Name: khoahocs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.khoahocs (
    id integer NOT NULL,
    tenkhoahoc character varying(255),
    dieukienhoc text,
    hinhanh character varying(255),
    loaikhoahoc character varying(255),
    trangthai integer,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    lotrinhhoc text
);


ALTER TABLE public.khoahocs OWNER TO postgres;

--
-- Name: khoahocs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.khoahocs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.khoahocs_id_seq OWNER TO postgres;

--
-- Name: khoahocs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.khoahocs_id_seq OWNED BY public.khoahocs.id;


--
-- Name: lophocs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lophocs (
    id integer NOT NULL,
    tenlophoc character varying(255),
    thoigianbatdau timestamp(4) with time zone,
    soluonghocvien integer,
    trangthai integer,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    phidichvu integer,
    thoigianhoc character varying(255),
    thoiluonghoc character varying(255),
    dieukienhoc character varying(255),
    id_giangvien integer,
    id_phonghoc integer
);


ALTER TABLE public.lophocs OWNER TO postgres;

--
-- Name: lophocs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lophocs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.lophocs_id_seq OWNER TO postgres;

--
-- Name: lophocs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lophocs_id_seq OWNED BY public.lophocs.id;


--
-- Name: phanhois; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.phanhois (
    id integer NOT NULL,
    noidungtraloi text,
    id_tktraloi integer,
    id_diendan integer,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.phanhois OWNER TO postgres;

--
-- Name: phanhois_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.phanhois_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.phanhois_id_seq OWNER TO postgres;

--
-- Name: phanhois_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.phanhois_id_seq OWNED BY public.phanhois.id;


--
-- Name: phanquyens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.phanquyens (
    id integer NOT NULL,
    quyenhang character varying(255),
    trangthai integer,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.phanquyens OWNER TO postgres;

--
-- Name: phanquens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.phanquens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.phanquens_id_seq OWNER TO postgres;

--
-- Name: phanquens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.phanquens_id_seq OWNED BY public.phanquyens.id;


--
-- Name: phonghocs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.phonghocs (
    id integer NOT NULL,
    tenphonghoc character varying(255),
    hientrang character varying(255),
    trangthai integer,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    soluongnguoi integer
);


ALTER TABLE public.phonghocs OWNER TO postgres;

--
-- Name: phonghocs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.phonghocs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.phonghocs_id_seq OWNER TO postgres;

--
-- Name: phonghocs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.phonghocs_id_seq OWNED BY public.phonghocs.id;


--
-- Name: taikhoans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.taikhoans (
    id integer NOT NULL,
    email character varying(255),
    tentaikhoan character varying(255),
    matkhau character varying(255),
    trangthai integer,
    "createdAt" timestamp with time zone,
    "updatedAt" timestamp with time zone,
    quyenhang character varying(255),
    hinhanh character varying(255),
    token character varying(255),
    kichhoat boolean
);


ALTER TABLE public.taikhoans OWNER TO postgres;

--
-- Name: taikhoans_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.taikhoans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.taikhoans_id_seq OWNER TO postgres;

--
-- Name: taikhoans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.taikhoans_id_seq OWNED BY public.taikhoans.id;


--
-- Name: baiviets id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.baiviets ALTER COLUMN id SET DEFAULT nextval('public.baiviets_id_seq'::regclass);


--
-- Name: chuyenmucs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chuyenmucs ALTER COLUMN id SET DEFAULT nextval('public.chuyenmucs_id_seq'::regclass);


--
-- Name: dangkies id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dangkies ALTER COLUMN id SET DEFAULT nextval('public.dangkies_id_seq'::regclass);


--
-- Name: diendans id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diendans ALTER COLUMN id SET DEFAULT nextval('public.diendans_id_seq'::regclass);


--
-- Name: giangviens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.giangviens ALTER COLUMN id SET DEFAULT nextval('public.giangviens_id_seq'::regclass);


--
-- Name: khoahocs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.khoahocs ALTER COLUMN id SET DEFAULT nextval('public.khoahocs_id_seq'::regclass);


--
-- Name: lophocs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lophocs ALTER COLUMN id SET DEFAULT nextval('public.lophocs_id_seq'::regclass);


--
-- Name: phanhois id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phanhois ALTER COLUMN id SET DEFAULT nextval('public.phanhois_id_seq'::regclass);


--
-- Name: phanquyens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phanquyens ALTER COLUMN id SET DEFAULT nextval('public.phanquens_id_seq'::regclass);


--
-- Name: phonghocs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phonghocs ALTER COLUMN id SET DEFAULT nextval('public.phonghocs_id_seq'::regclass);


--
-- Name: taikhoans id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taikhoans ALTER COLUMN id SET DEFAULT nextval('public.taikhoans_id_seq'::regclass);


--
-- Data for Name: SequelizeMeta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SequelizeMeta" (name) FROM stdin;
20191229162347-create-khoahoc.js
20191229162354-create-dangky.js
20191229162401-create-thoikhoabieu.js
20191229162409-create-phonghoc.js
20191229162415-create-diendan.js
20191229162421-create-phanhoi.js
20191229162429-create-hocvien.js
20191229162434-create-lophoc.js
20191229162441-create-giangvien.js
20191229162450-create-taikhoan.js
20191229162607-create-phanquen.js
20200328121010-create-baiviet-1.js
20200406091043-create-chuyenmuc.js
20200406091053-create-baiviet.js
\.


--
-- Data for Name: baiviets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: chuyenmucs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chuyenmucs (id, tenchuyenmuc, trangthai, "createdAt", "updatedAt") FROM stdin;
1	TIN Tß╗¿C	1	2020-04-15 22:46:38.68+07	2020-04-15 22:46:38.68+07
3	Kß╗╕ N─éNG Mß╗ÇM	1	2020-04-15 22:47:07.318+07	2020-04-15 22:47:11.288+07
2	C├öNG NGHß╗å V├Ç ─Éß╗£I Sß╗ÉNG	1	2020-04-15 22:46:48.017+07	2020-04-15 23:03:39.948+07
5	KH├ôA Hß╗îC	1	2020-04-27 00:46:04.627+07	2020-04-27 00:48:49.986+07
4	C├öNG NGHß╗å TH├öNG TIN	1	2020-04-15 23:03:28.533+07	2020-04-27 00:48:54.269+07
\.


--
-- Data for Name: dangkies; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: diendans; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: giangviens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: khoahocs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lophocs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: phanhois; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: phanquyens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.phanquyens (id, quyenhang, trangthai, "createdAt", "updatedAt") FROM stdin;
1	Admin	1	2020-01-04 22:26:59.764+07	2020-01-04 22:26:59.764+07
3	Giß║úng Vi├¬n	1	2020-01-04 22:36:09.743+07	2020-01-04 22:36:09.743+07
9	Nh├ón Vi├¬n	1	2020-02-28 22:40:52.018+07	2020-02-28 22:40:52.018+07
4	Hß╗ìc Vi├¬n	1	2020-01-04 22:36:18.608+07	2020-04-27 00:45:49.989+07
\.


--
-- Data for Name: phonghocs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.phonghocs (id, tenphonghoc, hientrang, trangthai, "createdAt", "updatedAt", soluongnguoi) FROM stdin;
1	Ph├▓ng 1	Tß╗æt 	1	2020-01-04 20:23:31.884+07	2020-06-10 20:29:24.58+07	30
8	Ph├▓ng 4	Tß╗æt	1	2020-08-02 20:00:41.05+07	2020-08-02 20:00:57.937+07	50
5	Ph├▓ng 2	Tß╗æt	1	2020-01-06 23:06:26.115+07	2020-08-02 20:01:05.026+07	10
3	Ph├▓ng 3	H╞░ m├íy chiß║┐u, t╞░ß╗¥ng bong	0	2020-01-04 20:31:08.422+07	2020-08-02 20:01:17.473+07	50
9	Ph├▓ng 5	H╞░ b├án 3 4 5 	1	2020-08-02 20:40:03.928+07	2020-08-02 20:40:03.928+07	50
\.


--
-- Data for Name: taikhoans; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: baiviets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.baiviets_id_seq', 9, true);


--
-- Name: chuyenmucs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chuyenmucs_id_seq', 5, true);


--
-- Name: dangkies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dangkies_id_seq', 97, true);


--
-- Name: diendans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.diendans_id_seq', 18, true);


--
-- Name: giangviens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.giangviens_id_seq', 32, true);


--
-- Name: khoahocs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.khoahocs_id_seq', 24, true);


--
-- Name: lophocs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lophocs_id_seq', 28, true);


--
-- Name: phanhois_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.phanhois_id_seq', 23, true);


--
-- Name: phanquens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.phanquens_id_seq', 12, true);


--
-- Name: phonghocs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.phonghocs_id_seq', 9, true);


--
-- Name: taikhoans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.taikhoans_id_seq', 68, true);


--
-- Name: SequelizeMeta SequelizeMeta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SequelizeMeta"
    ADD CONSTRAINT "SequelizeMeta_pkey" PRIMARY KEY (name);


--
-- Name: baiviets baiviets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.baiviets
    ADD CONSTRAINT baiviets_pkey PRIMARY KEY (id);


--
-- Name: chuyenmucs chuyenmucs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chuyenmucs
    ADD CONSTRAINT chuyenmucs_pkey PRIMARY KEY (id);


--
-- Name: dangkies dangkies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dangkies
    ADD CONSTRAINT dangkies_pkey PRIMARY KEY (id);


--
-- Name: diendans diendans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.diendans
    ADD CONSTRAINT diendans_pkey PRIMARY KEY (id);


--
-- Name: giangviens giangviens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.giangviens
    ADD CONSTRAINT giangviens_pkey PRIMARY KEY (id);


--
-- Name: khoahocs khoahocs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.khoahocs
    ADD CONSTRAINT khoahocs_pkey PRIMARY KEY (id);


--
-- Name: lophocs lophocs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lophocs
    ADD CONSTRAINT lophocs_pkey PRIMARY KEY (id);


--
-- Name: phanhois phanhois_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phanhois
    ADD CONSTRAINT phanhois_pkey PRIMARY KEY (id);


--
-- Name: phanquyens phanquens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phanquyens
    ADD CONSTRAINT phanquens_pkey PRIMARY KEY (id);


--
-- Name: phonghocs phonghocs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phonghocs
    ADD CONSTRAINT phonghocs_pkey PRIMARY KEY (id);


--
-- Name: taikhoans taikhoans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taikhoans
    ADD CONSTRAINT taikhoans_pkey PRIMARY KEY (id);


--
-- Name: dangkies dangkies_id_lophoc_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dangkies
    ADD CONSTRAINT dangkies_id_lophoc_fkey FOREIGN KEY (id_lophoc) REFERENCES public.lophocs(id);


--
-- Name: lophocs lophocs_id_phonghoc_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lophocs
    ADD CONSTRAINT lophocs_id_phonghoc_fkey FOREIGN KEY (id_phonghoc) REFERENCES public.phonghocs(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

