<!-- Sticky Footer -->
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span> <h5> &copy;
        <script>document.write(new Date().getFullYear());</script> TẤT CẢ VÌ SỰ TIN TƯỞNG CỦA BẠN | CÙNG
        NHAU PHÁT TRIỂN CNTT <i style="color: yellow" class="fa fa-heart" aria-hidden="true"></i> BỞI <a
            href="#" target="_blank">BẢO_GÀ</a></h5></span>
    </div>
  </div>
</footer>

</div>
<!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Thoát khỏi chế độ quản lý !!!.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/dangnhap/logout">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->



<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js">
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js">      </script>


<script src="../../../css/admin/vendor/jquery/jquery.min.js"></script>

<script src="../../../css/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="../../../css/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script> -->

<!-- Page level plugin JavaScript-->
<script src="../../../css/admin/vendor/chart.js/Chart.min.js"></script>
<script src="../../../css/admin/vendor/datatables/jquery.dataTables.js"></script>
<script src="../../../css/admin/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../../js/admin/js/sb-admin.min.js"></script>
<!-- Demo scripts for this page-->

<script src="../../../js/admin/js/demo/datatables-demo.js"></script>
<script src="../../../js/admin/js/demo/chart-area-demo.js"></script>
<!-- Validate time  -->

<script src="../../../../ckeditor/ckeditor.js"></script>
<!-- tu viet -->
<script src="../../../js/js_B_ad/admin.js"></script>
<script src="../../../js/js_B_ad/outsite.js"></script>
<script type="text/javascript">
  CKEDITOR.replace('ckeditor2', {
    "extraPlugins" : 'imagebrowser',
        "imageBrowser_listUrl" : "/files"
  }); 
</script>
</body>

</html>