<aside class="col-md-3 sidebar" style="margin-bottom: 30px">
    <a href="/forum/hoi-bai"><button class="btn btn-danger" style="width: 100%"><i
                class="fa fa-plus"></i><strong> Tạo bài viết</strong></button></a>
    <br><br>
    <div class="widget widget_stats">
        <h3 class="widget_title">Chuyên mục</h3>
        <ul>
                
        <% khoahoc.forEach(dulieu => { %>
            <li><a href="/forum/khoahoc/<%= dulieu.id %>/<%= dulieu.tenkhoahoc %>/10"><i  class="fa fa-folder-open-o"></i> <%= dulieu.tenkhoahoc %></a>
            </li>
        <% }) %>

          
        </ul>
    </div><!-- End widget_menu -->
    
</aside><!-- End sidebar -->