<%- include ('header') -%>
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Trang Chủ</li>
  </ol>
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-comments"></i>
          </div>
          <div  class="mr-5">  <a style="color: white !important;" id="lophoc" >CÁC LỚP HỌC ĐƯỢC MỞ</a>   </div>
        </div>

      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-warning o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-list"></i>
          </div>
          <div class="mr-5"><p style="font-size: 14px;"> <a style="color: white !important;" id="thuchi" >TỔNG THU CHI TỪ CÁC KHÓA HỌC</a> </p> </div>
        </div>

      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-success o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-shopping-cart"></i>
          </div>
          <div class="mr-5">123 New Orders!</div>
        </div>

      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-danger o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-life-ring"></i>
          </div>
          <div class="mr-5">13 New Tickets!</div>
        </div>

      </div>
    </div>
  </div>
  <!-- Area Chart Example-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Thống kê</div>
    <div class="card-body" id="tklh">
      <canvas id="myChart" style="width: 200px !important; height: 200px !important; "></canvas>
    </div>
    <div class="card-body" id="tkthu" style="display: none;">
      <canvas id="myChart1"  ></canvas>
    </div>
  </div>
  <!-- DataTables Example -->

</div>
<!-- /.container-fluid -->
<%- include ('footer') -%>